<h1>Listing subjects</h1>

<%= link_to 'New subject', new_subject_path %>

<table style="width:50%">
  <tr>
    <th>subjectName</th>
    <th>site</th>
	<th>category</th>
  </tr>


 
  <% @subjects.each do |subject| %>
    <tr>
      <td><%= subject.subjectName %></td>
      <td><%= subject.site %></td>
	  <td><%= subject.category %></td>
      <td><%= link_to 'Show', subject_path(subject) %></td>
	  <td><%= link_to 'Edit', edit_subject_path(subject) %></td>
	  <td><%= link_to 'Destroy', subject_path(subject),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
